<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.CategoryMapper" >

    <resultMap id="categoryMap" type="com.example.demo.entity.Category">
        <id column="id" property="id"/>
        <result column="category_name" property="categoryName"/>
        <collection property="goodsList" resultMap="com.example.demo.mapper.GoodsMapper.goodsMap"></collection>
    </resultMap>
    <!--增加类别-->
    <insert id="insertCategory" parameterType="String">
        insert into category (category_name) values (#{categoryName});
    </insert>

    <delete id="deleteCategory" parameterType="Integer">
       delete from category where id=#{id}
    </delete>

    <update id="updateCategory">
        UPDATE category set category_name=#{categoryName} WHERE id=#{id}
    </update>

    <select id="selectCateGory" parameterType="String" resultMap="categoryMap">
        select * from category
        <if test="categoryName!=null and categoryName!=''">
            where category_name like "%"#{categoryName}"%"
        </if>
    </select>
</mapper>