<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>springboot+ssm</title>
    <!--使用Vue框架-->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!--使用jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
    <h1>hello boy!</h1>

    <div id="app">
        {{ message }}
    </div>

    <div id="ab"></div>

    <div id="vue_det">
        <h1>site:{{site}}</h1>
        <h1>url : {{url}}</h1>
        <h1>{{details()}}</h1>
        <h1>Alexa : {{alexa}}</h1>
    </div>

    <!--实例中演示了 input 和 textarea 元素中使用 v-model 实现双向数据绑定-->
    <div id="app2">
        <p>input 元素：</p>
        <input v-model="message" placeholder="编辑我……">
        <p>消息是: {{ message }}</p>

        <p>textarea 元素：</p>
        <p style="white-space: pre">{{ message2 }}</p>
        <textarea v-model="message2" placeholder="多行文本输入……"></textarea>
    </div>

    <!-- JavaScript 代码需要放在尾部（指定的HTML元素之后） -->
    <script>
        $(function () {
            $.ajax({
                url: "/cs",
                type: "post",
                dataType: "json",
                success: function (successData) {
                  /*  $.each(successData,function (i,n) {
                   html= "<table><tr><td>"+n.user_name+"</td></tr></table>"
                    })*/
                  console.log("successData  "+successData);
                    html= "<table><tr><td>"+successData+"</td></tr></table>"
                    $("#ab").html(html)
                },
                error: function (e) {
                }
            });
        })
        /*开始Vue*/
        new Vue({
            el:'#app',
            data: {
                message:'这是Vue message 的内容 Hello World!'
            }
        });

        var data = { site: "自学Vue", url: "www.runoob.com", alexa: 10000}
        var vm = new Vue({
            el: '#vue_det',
            /*data: {
                site: "菜鸟教程",
                url: "www.runoob.com",
                alexa: "100"
            },*/
            data:data,
            methods: {
                details: function() {
                    return  this.site + " - 学的不仅是技术，更是梦想！";
                }
            }
        })

        /*实例中演示了 input 和 textarea 元素中使用 v-model 实现双向数据绑定*/
      var vm2=  new Vue({
            el: '#app2',
            data: {
                message: 'Runoob',
                message2: '菜鸟教程\r\nhttp://www.runoob.com'
            }
        })


    </script>
</body>
</html>